body {
    font-family: Arial, sans-serif;
    background-color: rgb(236, 234, 234);
    margin: 0;
    padding: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 70px;
    align-items: center;
    background-color: #0e9709;
    display: flex;
    justify-content: center;
}

/* Liens du menu principal */
.menu li a {
    color: #fff;
    font-size: small;
    text-align: center;
    padding: 27px;
    margin: 0;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #08f858;
}

/* Logo */
#logo {
    height: 18vh;
    width: auto;
    margin: 0 10px 0 0;

}

/* Sous-menu */
.sous-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #0e9709;
    position: absolute;
    top: 70px;
    display: none;
    
}


.sous-menu li a {
    color: #fff;
    font-size: small;
    padding: 20px 0;
    text-decoration: none;
    display: block;
    
}


.menu li:hover .sous-menu {
    display: block;
}

.sous-menu li a:hover {
    background-color: #08f858;
}

.sous-sous-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #0e9709;
    position: absolute;
    left: 300px;
    top: 0;
    display: none;
}

#university {
    left: 300px;
    top: 55px;
}

#university li a {
    padding: 20px 0;
}

.sous-sous-menu li a {
    color: #fff;
    font-size: small;
    padding: 15px 0;
    text-decoration: none;
    display: block;
}
.sous-menu li:hover .sous-sous-menu {
    display: block;
}

.sous-sous-menu li a:hover {
    background-color: #08f858;
}

main {
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    height: 100%;

}

#lien_sociaux {
    position: fixed;
    
    width: 100px;
    top: 50%;
    left: 0;
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    z-index: 1000; 
}

#lien_sociaux a {
    color: #fff;
    margin: 0;
    width: 12.5vh;
    height: 11.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    
}

#lien_sociaux a:hover {
    background-color: #07dd4e;
}

#face {
    background-color: #3b5998;
}


#insta {
    background-color: #e4405f;
}



#twit {
    background-color: #1da1f2;
}


#what {
    background-color: #25d366;
}



#tele {
    background-color: #0088cc;
}



#youtu {
    background-color: #ff0000;
}



#section_slider {
    margin: auto;
    display: flex;
    padding: 20px;
    height: 600px;
   
}

#gpe_chiffres {
  
    margin: auto;
    margin-left: 5vh;
    margin-top: 0;
    padding: 0;
    height: 102vh;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    
}



#gpe_chiffres h2 {
    margin: 0 0 3vh 0;
    text-align: center;
   background-color: #e3e4e3;
    color: rgb(29, 29, 29);
    padding: 10px;
}

#gpe_chiffres h3 {
    margin: 0 auto;
    margin-bottom: 2vh;
    width: 80%;
    padding: 2vh ;
    text-align: center;
    font-size: large;
    border-radius: 1vh;
    background-color: #039e37;
    color: rgb(241, 237, 237);
}

#gpe_chiffres .gpe-lien {
    display: block;
    margin: 0 auto;
    margin-bottom: 2vh;
    width: 80%;
    padding: 2vh;
    text-align: center;
    font-size: large;
    border-radius: 1vh;
    background-color: #039e37;
    color: rgb(241, 237, 237);
    text-decoration: none;
}

#gpe_chiffres .gpe-lien:hover {
    background-color: #028a2f;
    outline: none;
}

#gpe_chiffres h4 {
    margin: 0;
    text-align: center;
    font-size: larger;
    color: rgb(64, 63, 63);
}

#gpe_chiffres img {
    width: 13vh;
    height: 13vh;
    margin-top: 1vh;
}

#gpe_chiffres p {
    margin: 0;
    text-align: center;
    font-size: small;
    color: rgb(64, 63, 63);
}


.gpe_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin-bottom: 2vh;
    max-width: 600px;
    
}

#result{
    margin-top: 1vh;
    height: 22vh;
    width: 100%;
    text-align: center;
    color: rgb(64, 63, 63);
}

.slides img {
    width: 100%;
}


.banniere {
    width: 96.5%;
    height: auto;
    padding: 20px;
    margin-top: 1vh;
}

/* Section écoles */

#section_ecoles h2 {
    text-align: center;
    color: rgb(121, 119, 119);
    padding: 10px;
    margin: 20px 0;
}

.ecoles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.article_photos {
    flex:1 ;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    
}

.article_photos a {
    text-decoration: none;
    height: 100%;
}

.article_photos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article_photos h3 {
    margin: 10px;
    font-size: 3vh;
}

.article_photos p {
    margin: 10px;
    font-size: 2.5vh;
    color: rgb(64, 63, 63);
}
    
/* Section actualités */

#section_actu h2 {
    text-align: center;
    color: rgb(121, 119, 119);
    padding: 10px;
    margin: 20px 0;
}

.actu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


.article_actu {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.article_actu a {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.article_actu img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article_actu p {
    margin: 10px;
    font-size: 3.5vh;
    color: rgb(64, 63, 63);
}

.article_actu p:not(.date) {
    flex-grow: 1; 
}

#date {
    font-size: 3vh;
    padding: 3vh;
    text-align: center;
    color: rgb(62, 143, 79);
    margin: 0 10px 10px 10px;
    background-color: #d4f8d4;
}

.voir_plus {
    float: right;
    padding: 10px 20px;
    background-color: #c7ccc6;
    color: #979595;
    text-decoration: none;
    font-size: 2.5vh;
    border-radius: 5px;
}

.voir_plus:hover {
    background-color: #aeb3af;
    color: #f1eeee;
}


/* Section événements */

#section_evenements h2 {
    text-align: center;
    color: rgb(121, 119, 119);
    padding: 10px;
    margin: 20px 0;
}

.evenements {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: center;
}

.article_even {
    flex:1 ;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    
}

.article_even h3 {
    
    font-size: 3.5vh;
}

.article_even a {
    text-decoration: none;
    height: 100%;
}

.article_even img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dateS4 {
    font-size: 4vh;
    padding: 3vh;
    width: 5vh;
    position: relative;
    bottom: 8vh;
    text-align: center;
    color: #ffffff;
    background-color: #124a9e;
    border-radius: 5px;
}


.date {
    font-size: 2.5vh;
    margin-top: auto;
    padding: 2vh;
    text-align: center;
    color: rgb(62, 143, 79);
    background-color: #d4f8d4;
    margin: 0;
}


.article_even p:not(.date) {
    flex-grow: 1;
}


/* photos */

#album{
    background-color: rgb(29, 29, 29);
}

#album h2 {
    text-align: center;
    color: rgb(243, 236, 236);
    padding: 10px;
    margin: 20px 0;
}

.album_photos{
    display: flex;
    flex-wrap: nowrap; /* garder tous les articles sur une seule ligne */
    gap: 3vh;
    justify-content: center;
    overflow-x: auto; /* permet le défilement horizontal si nécessaire */
    -webkit-overflow-scrolling: touch;
    padding-bottom: 8px;
}


.article_alb_photos {
    flex: 0 0 320px; /* largeur fixe, n'occupe pas l'espace restant */
    width: 320px;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
   
}

.article_alb_photos p {

    font-size: 2.5vh;
}

.article_alb_photos a {
    text-decoration: none;
    height: 100%;
}


.article_alb_photos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.descp{
    padding: 10px;
    text-align: center;
    color: rgb(64, 63, 63);
}

/* Videos */

.album_video {
    display: flex;
    flex-wrap: nowrap;
    gap: 3vh;
    justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 8px;
}

.article_alb_video {
    flex: 0 0 320px;
    width: 320px;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;

}

.article_alb_video p {

    font-size: 2.5vh;
}

.article_alb_video a {
    text-decoration: none;
    height: 100%;
}


.article_alb_video img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Section Temoignages */

.temoignages {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5vh;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: 8px;
}

.article_temoignage {
    flex: 1;
    width: 200px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.article_temoignage a {
    text-decoration: none;
    display: block;
    height: 100%;
    text-align: center;
}

.article_temoignage img {
    width: 70%;
    border-radius: 60%;
    height: 200px;
    object-fit: cover;
}

.texte_temoignage {
    padding: 15px;
}

.article_temoignage h3 {
    margin: 0 0 10px 0;
    font-size: 1rem;
    color: #2a7a2a;
   
}

.article_temoignage .descp {
    margin: 0;
    font-size: 0.9rem;
    color: rgb(64, 63, 63);
    line-height: 1.4;
}

.texte_temoignage{
    text-align: center;
    background-color: rgb(206, 228, 206);
}

#temoignage h2 {
    text-align: center;
    color: rgb(121, 119, 119);
    padding: 10px;
    margin: 20px 0;
}

.temoi {
    float: left;
    padding: 10px 20px;
    background-color: #2daa15;
    color: #f3efef;
    text-decoration: none;
    font-size: 2.5vh;
    border-radius: 5px;
}

.temoi:hover {
    background-color: #23870f;
    color: #f1eeee;
}


/* Section Partenaires */

#partenaire {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 150px;
    justify-content: center;
    align-items: center;
   
}

#partenaire h2 {
    text-align: center;
    color: rgb(121, 119, 119);
    padding: 10px;
    margin: 0;
}

#div_part {
    display: flex;
    flex-wrap: nowrap; 
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

#partenaire img {
    height: 100px;
    width: auto;
    margin: 0;
    
}



/* Footer */

footer {
    background-color: #0e9709;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px;
    line-height: 1.5;
    
}
