body {
    font-family: Arial, sans-serif;
    background-color: rgb(236, 234, 234);
    margin: 0;
    padding: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 70px;
    align-items: center;
    background-color: #0e9709;
    display: flex;
    justify-content: center;
}

/* Liens du menu principal */
.menu li a {
    color: #fff;
    font-size: small;
    text-align: center;
    padding: 27px;
    margin: 0;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #08f858;
}

/* Logo */
#logo {
    height: 18vh;
    width: auto;
    margin: 0 10px 0 0;

}

/* Sous-menu */
.sous-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #0e9709;
    position: absolute;
    top: 70px;
    display: none;

}


.sous-menu li a {
    color: #fff;
    font-size: small;
    padding: 20px 0;
    text-decoration: none;
    display: block;

}


.menu li:hover .sous-menu {
    display: block;
    z-index: 1000;
}

.sous-menu li a:hover {
    background-color: #08f858;
}

.sous-sous-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #0e9709;
    position: absolute;
    left: 300px;
    top: 0;
    display: none;
}

#university {
    left: 300px;
    top: 55px;
}

#university li a {
    padding: 20px 0;
}

.sous-sous-menu li a {
    color: #fff;
    font-size: small;
    padding: 15px 0;
    text-decoration: none;
    display: block;
}

.sous-menu li:hover .sous-sous-menu {
    display: block;
}

.sous-sous-menu li a:hover {
    background-color: #08f858;
}



footer {
    background-color: #0e9709;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 750px;
}

h2 {
    text-align: center;
    font-weight: 5;
    color: #333;
    background-color: #eeeded;
    padding: 20px;
    
}

legend {
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    
}

label {
    min-width: 25%;
    margin-bottom: 5px;
    
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 3px 0 3px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
}

input::placeholder,
textarea::placeholder, select::placeholder
 {
    opacity: 0.7;
    color: #999;
}

input[type="submit"] {
    width: 97%;
    margin: 0 auto 80px auto;
    background-color: #0e9709;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
   
}

input[type="submit"]:hover {
    background-color: #0d8134;

}




fieldset {
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 10px;
}

legend {
    font-weight: 20;
    margin-bottom: 0;
    font-size: 1em;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
   
}

.aligne {
    display: flex;
    gap : 10px;
    margin-bottom: 5px;
    align-items: center;
}

fieldset p {
   font-size: small;
   line-height: 2;
}

footer p {
    margin: 5px;
    line-height: 1.5;
}

/*.success-message {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #28a745;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #20c997;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-in-out;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}*/